<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>We are home</title>
    <link rel = "stylesheet" type = "text/css" href = "style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/proxy/8101/testscore">test complete</a></li>
        <li><a href="/proxy/8101/testcomplete">end screen</a></li>
      </ul>
    </nav>
    <h1>HELLO Welcome to the test!!!</h1>
    <h2>Q1.) Is this a project for CSE 2102?</h2>
      <ul>
        <li>a.) True</li>
        <li>b.) False</li>
      </ul>
</body>

</html>